body{
  background-color: #DCDCDC;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1.title {
	font-size: 50px;
  font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.label-control{
  text-align: left;
  width: 100%;
}
hr{
	width: 10%;
	color: #fff;
}
.main-center{
  width: 600px;
}
.form-group{
	margin-bottom: 15px;

}
label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    padding-top: 3px;
    width: 100%;
}

.main-register{
 	background-color: #fff;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 730px;
  padding: 40px 40px;

}
.input-group{
  width: 100%;

}
.register-button {
  margin-left: 120px;
  margin-top: 50px;
  width: 300px;
}
.register-button2 {
  position: relative;
  top: 15px;
  left:-120px;
  width: 300px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
